<!DOCTYPE html>
<html>
  <head>
    <title>Puppies</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body ng-app="puppyApp">
    <div class="container" ng-controller="puppyCtrl">
      
      <div class="panel">
        <div class="panel-heading text-center">
          <h1>Puppy App</h1>
        </div>
      </div>

      <div class="panel-body text-center">
        <form class="form-inline">
          
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" ng-model="newPuppy.name">
          </div>
         
          <div class="form-group">
            <label>Breed:</label>

            <!-- <select ng-model="puppyBreed">
              <option value="{{breed.id}}"ng-repeat="breed in breeds">{{breed.name}}</option>
            </select> -->
            <input type="text" class="form-control" ng-model="puppyBreed" ng-click=toggleTable()>
            <table ng-hide="tableDisplay">
              <tr ng-repeat = 'breed in breeds | filter: puppyBreed'>
                <td ng-click="completePuppyBreed(breed)">{{breed.name}}</td>
              </tr>
            </table>
          </div><br>
          
          <button class='btn btn-default' ng-click="createNewBreed()">Submit</button>
        
        </form>
        
        <div class="panel-body col-md-4">
          <h3>Breeds</h3>
          <table class="table table-bordered" >
            <tr ng-repeat="breed in breeds">
              <td>{{breed.name}}</td>

            </tr>
          </table>
        </div>
        
        <div class="panel-body col-md-8">
          <h3>Puppies</h3>
          <table class="table table-bordered" ng-controller="puppyCtrl">
            <tr ng-repeat="puppy in puppies">
              <td>{{puppy.name}}</td>
              <td>{{puppy.breed.name}}</td>
              <td><button class='btn btn-default' ng-click="adoptPuppy(puppy.id, $index)">Adopt</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  
  <!-- app -->
  <script src="app.js"></script>

  <!-- controllers -->
  <script src="controllers/breedsController.js"></script>
  <script src="controllers/puppiesController.js"></script>

  <!-- directives 
  <script src = "directives/puppyDirective.js"></script>
  <script src = "directives/puppyDirective.html"></script>
  -->
  <!-- services -->
  <script src="services/breedsService.js"></script>
  <script src="services/puppiesService.js"></script>
  
  </body>
</html>